.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth.google{
  background: #1a73e8;
}
.auth img{
  width: 50px;
  height: 50px;
  padding: 5px;
}
.auth button{
  padding: 0px;
  border: none;
  background: transparent;
}
.SignIn{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.topbar img{
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.topbar h4{
  margin-left: 10px;
  font-size: 1rem;
  flex-grow: 1;
  text-align: left;
  color: #1a73e8;
}
.gamebox,.SignIn{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://thumbs.dreamstime.com/b/mixed-poker-cards-gambling-card-38104681.jpg);
  background-color: #000000cf;
  background-blend-mode: color;
}
